body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





.oksa{
    text-align: center;
}


.kepek{
    text-align: center;

}

.kepek img{
    width: 30%;
    padding: 2px;
    
}

.kepek img:hover{
    transition: 200ms;
    border-radius: 5%;
}
.beszed{
    color: white;
}

.beszed{
    column-count: 3;
    margin-top: 10px;
    margin-right: 70px;
}

.beszed p{
    margin-left: 30%;
    margin-right:30% ;
}

.tort{
    text-align: center;
    margin-top: 3%;
}

section{
    text-align: center;
}


